$DarkGreen: #00585E; // Dark green
$LightGreen: #009494; // Light green
$LightGrey: #F5F2DC; // Light grey
$DarkGrey: #454445; // Dark grey
$orange: #FF5729; // Orange

body {

  color: $DarkGrey;

}

.border-light {

  border: 1px solid $LightGrey;

}

#wrapper {

  margin: 0 auto;
  width: 80%;
  background-color: $orange;
  border-radius: 10px;

}

#InputArr {

  background-color: $LightGreen;

}

#CalcBtn {

  width: 100%;
  background-color: $DarkGreen;
  color: $LightGrey;

}

#CalcResponse {

  min-height: 20px;
  background-color: $LightGreen;

}

.padding-10 {

  padding: 10px;

}

.text-align-center {

  text-align: center;

}