body {
  color: #454445; }

.border-light {
  border: 1px solid #F5F2DC; }

#wrapper {
  margin: 0 auto;
  width: 80%;
  background-color: #FF5729;
  border-radius: 10px; }

#InputArr {
  background-color: #009494; }

#CalcBtn {
  width: 100%;
  background-color: #00585E;
  color: #F5F2DC; }

#CalcResponse {
  width: 98%;
  min-height: 20px;
  background-color: #009494; }

.padding-10 {
  padding: 10px; }

.text-align-center {
  text-align: center; }
