@charset "UTF-8";
/*

Brand1 – #00585E // dark aqua
Brand2 - #009494 // Aqua
Brand3 - #F5F2DC // light grey
Brand4 - #454445 // dark grey
Brand5 - #FF5729 // Orange

 */
body {
  color: #454445; }

.border-light {
  border: 1px solid #F5F2DC; }

#wrapper {
  padding: 10px;
  margin: 0 auto;
  width: 80%;
  background-color: #FF5729;
  border-radius: 10px;
  text-align: center; }

#InputArr {
  padding: 10px;
  text-align: center;
  background-color: #009494; }

#CalcBtn {
  width: 100%;
  padding: 10px;
  background-color: #00585E;
  color: #F5F2DC; }

#CalcResponse {
  width: 98%;
  min-height: 20px;
  padding: 10px;
  text-align: center;
  background-color: #009494; }
